@model AgricultDetailMarket.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Вход";
}

<civ class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center text-black">Вход в аккаунт</h3>
                        </div>
                        <div id="form_account" class="card-body">
                            <form asp-controller="Account" asp-action="Login" method="post" autocomplete="on">
                                <div asp-validation-summary="All" class="text-danger text-center"></div>
                                <div>
                                    <input id="form_input_account" asp-for="Email" type="email" placeholder="Введите Email" class="text-center" />
                                </div>
                                <div>
                                    <input id="form_input_account" asp-for="Password" type="password" placeholder="Введите пароль" class="text-center" />
                                </div>
                                <div>
                                    <h2 class="text-center"><a id="btn_other_form" asp-controller="Account" asp-action="Register">Регистрация</a></h2>
                                </div>
                                <button id="btn_action_form" type="submit" class="float-right">Войти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</civ>
