@{
    ViewBag.Title = "Данные администратора";
}

<div id="card_item_admin2" class="main_content">
    <div class="card ">
        <div class="card-header">
            <h4>Данные администратора</h4>
        </div>
        <div class="card-body">
            <p><b>Почта: </b>admin@mail.ru</p>
            <p><b>Телефон: </b>8-999-111-11-11</p>
            <p><b>WhatsApp: </b>8-999-111-11-15</p>
            <p><b>Telegram: </b>8-999-111-11-16</p>
        </div>
    </div>
</div>

