@{
    ViewBag.Title = "Католог";
}

<div class="scroll_container">
    <a id="scrollToTop"><img class="scroll_img" src="/img/arrow.png" /></a>
</div>

<div class="card main_content">
    <div class="card-header">
        <h4>Каталог</h4>
    </div>
    <div id="card_item_admin2" class="card-body">
        @*1*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:160px;" asp-controller="Detail" asp-action="Accumulators"><img class="img_catalog" src="/img/akkumulators.jpg" />&emsp;&emsp;&emsp;Аккумуляторы</a></p>
        </div>
        @*2*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:173px;" asp-controller="Detail" asp-action="Tires"><img class="img_catalog" src="/img/tires.jpg" />&emsp;&emsp;&emsp;Сельхозшины</a></p>
        </div>
        @*3*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:18px;" asp-controller="Detail" asp-action="Pumps"><img class="img_catalog" src="/img/pomps.jpg" />&emsp;&emsp;&emsp;Насосы. Гидроаппаратура.</a></p>
        </div>
        @*4*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:10px;" asp-controller="Detail" asp-action="HighPressureHoses"><img class="img_catalog" src="/img/highpressurehoses.jpg" />&emsp;&emsp;&emsp;Рукава высокого давления</a></p>
        </div>
        @*5*@
        <div class="container_catalog">
            <p><a class="link_catalog" asp-controller="Detail" asp-action="Nozzles"><img class="img_catalog" class="img_catalog" src="/img/nozzles.jpeg" />&emsp;&emsp;&emsp;Штуцера и комплектующие</a></p>
        </div>
        @*6*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:96px;" asp-controller="Detail" asp-action="Gaz53"><img class="img_catalog" src="/img/gaz53.jpg" />&emsp;&emsp;&emsp;Запчасти для ГАЗ-53</a></p>
        </div>
        @*7*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-20px;" asp-controller="Detail" asp-action="Zil5103_Bull"><img class="img_catalog" src="/img/zil5301_bull.jpg" />&emsp;&emsp;&emsp;Запчасти для ЗИЛ-5103 Бычок</a></p>
        </div>
        @*8*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:78px;" asp-controller="Detail" asp-action="Zil130"><img class="img_catalog" src="/img/zil130.jpg" />&emsp;&emsp;&emsp;Запчасти для ЗИЛ-130</a></p>
        </div>
        @*9*@
        <div class="container_catalogt">
            <p><a class="link_catalog" style="margin-right:64px;" asp-controller="Detail" asp-action="Paz3205"><img class="img_catalog" src="/img/paz3205.jpg" />&emsp;&emsp;&emsp;Запчасти для ПАЗ-3205</a></p>
        </div>
        @*10*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:110px;" asp-controller="Detail" asp-action="Pts4"><img class="img_catalog" src="/img/pts4.jpg" />&emsp;&emsp;&emsp;Запчасти для ПТС-4</a></p>
        </div>
        @*11*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-174px;" asp-controller="Detail" asp-action="GrainCleaningCar"><img class="img_catalog" src="/img/graincleaningmachines.jpg" />&emsp;&emsp;&emsp;Запчасти для зерноочистительных машин</a></p>
        </div>
        @*12*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-40px;" asp-controller="Detail" asp-action="HarvesterEnisey"><img class="img_catalog" src="/img/harvesterenisey.jpg" />&emsp;&emsp;&emsp;Запчасти для комбайна Енисей</a></p>
        </div>
        @*13*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-14px;" asp-controller="Detail" asp-action="HarvesterNiva"><img class="img_catalog" src="/img/harvesterniva.jpg" />&emsp;&emsp;&emsp;Запчасти для комбайна Нива</a></p>
        </div>
        @*14*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-48px;" asp-controller="Detail" asp-action="HarvesterPalesse"><img class="img_catalog" src="/img/harvesterpalesse.jpg" />&emsp;&emsp;&emsp;Запчасти для комбайна Палессе</a></p>
        </div>
        @*15*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-196px;" asp-controller="Detail" asp-action="OtherHarvesters"><img class="img_catalog" src="/img/otherharvesters.jpg" />&emsp;Запчасти для Дон-1500, Дон-680, Вектор, АККРОС</a></p>
        </div>
        @*16*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-142px;" asp-controller="Detail" asp-action="PotatoHarvestingMachines"><img class="img_catalog" src="/img/potatoharvestingmachines.png" />&emsp;&emsp;&emsp;Запасти к картофелеуборочной технике</a></p>
        </div>
        @*17*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:124px;" asp-controller="Detail" asp-action="Kir"><img class="img_catalog" src="/img/kir.jpg" />&emsp;&emsp;&emsp;Запчасти к КИР-1.5</a></p>
        </div>
        @*18*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-108px;" asp-controller="Detail" asp-action="SilageHarvestingMachines"><img class="img_catalog" src="/img/silageharvestingmachines.png" />&emsp;&emsp;&emsp;Запчасти к силосоуборочной технике</a></p>
        </div>
        @*19*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:124px;" asp-controller="Detail" asp-action="Harrow"><img class="img_catalog" src="/img/harrow.jpg" />&emsp;&emsp;&emsp;Запчасти к бороне</a></p>
        </div>
        @*20*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:48px;" asp-controller="Detail" asp-action="Cultivator"><img class="img_catalog" src="/img/cultivator.jpg" />&emsp;&emsp;&emsp;Запчасти к культиватору</a></p>
        </div>
        @*21*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:146px;" asp-controller="Detail" asp-action="Plough"><img class="img_catalog" src="/img/plough.jpg" />&emsp;&emsp;&emsp;Запчасти к плугу</a></p>
        </div>
        @*22*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:118px;" asp-controller="Detail" asp-action="Rake"><img class="img_catalog" src="/img/rake.jpg" />&emsp;&emsp;&emsp;Запчасти к граблям</a></p>
        </div>
        @*23*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-74px;" asp-controller="Detail" asp-action="MowerKsf"><img class="img_catalog" src="/img/mowerksf.jpg" />&emsp;&emsp;&emsp;Запчасти к косилке брусковой КСФ</a></p>
        </div>
        @*24*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:46px;" asp-controller="Detail" asp-action="MowerKps"><img class="img_catalog" src="/img/mowerkps.jpg" />&emsp;&emsp;&emsp;Запчасти к косилке КПС-5</a></p>
        </div>
        @*25*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:26px;" asp-controller="Detail" asp-action="MowerKsd"><img class="img_catalog" src="/img/mowerksd.jpg" />&emsp;&emsp;&emsp;Запчасти к косилке КСД-2.0</a></p>
        </div>
        @*26*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-92px;" asp-controller="Detail" asp-action="MowerLisichki"><img class="img_catalog" src="/img/mowerlisichki.jpg" />&emsp;&emsp;&emsp;Запчасти к косилке роторной Lisichki</a></p>
        </div>
        @*27*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-92px;" asp-controller="Detail" asp-action="MowerKrn"><img class="img_catalog" src="/img/mowerkrn.jpg" />&emsp;&emsp;&emsp;Запчасти к косилке роторной КРН-2.1</a></p>
        </div>
        @*28*@
        <div class="container_catalog">
            <p><a class="link_catalog" asp-controller="Detail" asp-action="Baler"><img class="img_catalog" src="/img/baler.jpg" />&emsp;&emsp;&emsp;Запчасти к прессподборщику</a></p>
        </div>
        @*29*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:42px;" asp-controller="Detail" asp-action="Stackers"><img class="img_catalog" src="/img/stackers.jpg" />&emsp;&emsp;&emsp;Запчасти к стогометателю</a></p>
        </div>
        @*30*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:146px;" asp-controller="Detail" asp-action="Seeder"><img class="img_catalog" src="/img/seeder.jpg" />&emsp;&emsp;&emsp;Запчасти к сеялке</a></p>
        </div>
        @*31*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:176px;" asp-controller="Detail" asp-action="D75"><img class="img_catalog" src="/img/d75.jpg" />&emsp;&emsp;&emsp;Запчасти к Д-75</a></p>
        </div>
        @*32*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:124px;" asp-controller="Detail" asp-action="Mtz1221"><img class="img_catalog" src="/img/mtz1221.jpg" />&emsp;&emsp;&emsp;Запчасти к МТЗ-1221</a></p>
        </div>
        @*33*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:126px;" asp-controller="Detail" asp-action="Mtz320"><img class="img_catalog" src="/img/mtz320.jpg" />&emsp;&emsp;&emsp;Запчасти к МТЗ-320</a></p>
        </div>
        @*34*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-8px;" asp-controller="Detail" asp-action="OthersMtz"><img class="img_catalog" src="/img/othersmtz.jpg" />&emsp;&emsp;&emsp;Запчасти к МТЗ-80/82/892/952</a></p>
        </div>
        @*35*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:64px;" asp-controller="Detail" asp-action="T150_Smd60"><img class="img_catalog" src="/img/t150_smd60.jpg" />&emsp;&emsp;&emsp;Запчасти к Т-150, СМД-60</a></p>
        </div>
        @*36*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:108px;" asp-controller="Detail" asp-action="T16_25_40"><img class="img_catalog" src="/img/t16_25_40.jpg" />&emsp;&emsp;&emsp;Запчасти к Т-16/25/40</a></p>
        </div>
        @*37*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:250px;" asp-controller="Detail" asp-action="Liners"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Вкладыши</a></p>
        </div>
        @*38*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:248px;" asp-controller="Detail" asp-action="Crankshafts"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Коленвалы</a></p>
        </div>
        @*39*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:156px;" asp-controller="Detail" asp-action="PistonsGroup"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Поршневая группа</a></p>
        </div>
        @*40*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:198px;" asp-controller="Detail" asp-action="GasketsGbc"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Прокладки ГБЦ</a></p>
        </div>
        @*41*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:198px;" asp-controller="Detail" asp-action="Kits"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Ремкомплекты</a></p>
        </div>
        @*42*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:308px;" asp-controller="Detail" asp-action="Belts"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Ремни</a></p>
        </div>
        @*43*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:134px;" asp-controller="Detail" asp-action="OilSeals"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Сальники. Манжеты.</a></p>
        </div>
        @*44*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:278px;" asp-controller="Detail" asp-action="Starters"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Стартеры</a></p>
        </div>
        @*45*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:156px;" asp-controller="Detail" asp-action="FuelSystem"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Топливная система</a></p>
        </div>
        @*46*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:156px;" asp-controller="Detail" asp-action="Turbocompressors"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Турбокомпрессоры</a></p>
        </div>
        @*47*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-16px;" asp-controller="Detail" asp-action="FuelAirFilters"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Фильтры топливные, воздушные</a></p>
        </div>
        @*48*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:298px;" asp-controller="Detail" asp-action="MetalItems"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Метизы</a></p>
        </div>
        @*49*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:274px;" asp-controller="Detail" asp-action="Segments"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Сегменты</a></p>
        </div>
        @*50*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:332px;" asp-controller="Detail" asp-action="Chain"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Цепи</a></p>
        </div>
        @*51*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:260px;" asp-controller="Detail" asp-action="Electrodes"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Электроды</a></p>
        </div>
        @*52*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-100px;" asp-controller="Detail" asp-action="TwineFilms"><img class="img_catalog" src="/img/item_img.png" />&emsp;Агрострейчпленка. Силосная пленка. Шпагат.</a></p>
        </div>
        @*53*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-78px;" asp-controller="Detail" asp-action="Headlights"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Фары. Фонари. Оптические элементы.</a></p>
        </div>
        @*54*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:-38px;" asp-controller="Detail" asp-action="ElectricEquipment"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Электрооборудование. Автолампы.</a></p>
        </div>
        @*55*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:12px;" asp-controller="Detail" asp-action="Gsm"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Горюче-смазочные материалы</a></p>
        </div>
        @*56*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:260px;" asp-controller="Detail" asp-action="Electrolyte"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Электролит</a></p>
        </div>
        @*57*@
        <div class="container_catalog">
            <p><a class="link_catalog" style="margin-right:232px;" asp-controller="Detail" asp-action="CarTools"><img class="img_catalog" src="/img/item_img.png" />&emsp;&emsp;&emsp;Инструменты</a></p>
        </div>
    </div>
    
</div>



@section pageScripts{
    <script>
        const btnScrollToTop = document.querySelector('#scrollToTop');
        btnScrollToTop.addEventListener("click", function(){
            window.scrollTo(0,0);
        });
    </script>
}          