@model IEnumerable<AgricultDetailMarket.Models.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Пользователи";
}

<div class="string_navigation">
    <p><a id="info_back_detail" class="item_navigation" onclick="history.back();return false;"> Назад </a>>><a> </a></p>
</div>

<div id="card_item_admin3" class="main_content card col-md-12">
    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Роль</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <form asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <button class="delete_user2" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

