@{
    ViewBag.Title = "Информация";
}

<div>
    <div id="card_item_admin2" class="card main_content">
        <div class="card-header">
            <h4>Информация о платеже</h4>
        </div>
        <div class="card-body">
            <p><b>Благадарим за покупку!</b></p>
            <p>Все приобретенные товары будут ожидать вас по адресу</p>
            <p><b>Адрес магазина: </b><small>г.Екатеринбург, ул.Екатеринбургская, д.326</small></p>
            <p><b>График работы: </b><small>Понедельник - Пятница: с 8:30 до 17:30</small></p>
            <p><small>Суббота - Воскресенье: выходные дни</small></p>
        </div>
    </div>
</div>
