@{
    ViewData["Title"] = "Главная страница";
}

<div>
    <div id="card_item_admin2" class="card main_content">
        <div class="card-body">
            <p>
                <b>Добро пожаловать</b> в наш магазин! У нас вы найдете широкий ассортимент сельскохозяйственных запчастей
                под разнообразную технику. А также расходные материалы отвечающие наивысшим стандартам!
            </p>
        </div>
    </div>
</div>
