@{
    ViewData["Title"] = "О компании";
}

<div>
    <div id="card_item_admin2" class="card main_content">
        <div class="card-header">
            <h3>О компании</h3>
        </div>
        <div class="card-body">
            <p>Наша компания занимается продажей сельскохозяйственной продукцией на протижении 10 лет. Имеется широкий ассортимент
                деталей для различного вида техники. Будьте уверены у нас вы найдете все. Для более подробной информации наши специалисты
                справочной службы будут рады вам помочь с возникшими вопросами.
            </p>
            <p><b>Телефон справочной службы: </b><small>+7 (999) 123-12-12</small></p>
            <p><b>Адрес магазина: </b><small>г.Екатеринбург, ул.Екатеринбургская, д.326</small></p>
            <p><b>График работы: </b><small>Понедельник - Пятница: с 8:30 до 17:30</small></p>
            <p><small>Суббота - Воскресенье: выходные дни</small></p>
        </div>
    </div>
</div>

